functions/functions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="functions" type="functionsType"/>
  <xs:complexType name="extensionType">
    <xs:sequence>
	    <xs:element type="xs:string" name="name" minOccurs="1" maxOccurs="1"/>
	    <xs:element type="xs:string" name="version" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="functionType">
    <xs:sequence>
      <xs:element type="xs:string" name="name" minOccurs="1" maxOccurs="1"/>
      <xs:element type="xs:string" name="desc" minOccurs="0" maxOccurs="1"/>
	  <xs:element type="xs:string" name="version" minOccurs="1" maxOccurs="1"/>
	  <xs:element type="xs:string" name="class" minOccurs="0" maxOccurs="1"/>
      <xs:element type="extensionType" name="extension" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="functionsType">
    <xs:sequence>
      <xs:element type="functionType" name="function" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="noNamespaceSchemaLocation"/>
    <xs:attribute type="xs:string" name="xsi"/>
  </xs:complexType>
</xs:schema>
